* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-base: 'Open Sans', sans-serif;
  --background-color--primary: #151543;
  --background-color--secondary: #303665;
  --color2: #1d438a;
  --font-color--main: #fffdff;
  --nav-icon--primary: #0066ff;
  --nav-icon--secondary: #990099;

  --button-answer: linear-gradient(90deg, #ffc436 0%, #fcecca 102.84%);
}

body {
  font-family: var(--font-base);
  background-color: var(--background-color--primary);
  color: var(--font-color--main);
}

.tag--all {
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style: none;
}

.tag {
  height: 30px;
  width: 60px;
  padding: 5px;
  background-color: #3e9ffe;
  border-radius: 5px;
}
