* {
  box-sizing: border-box;
}

:root {
  --base-color: #a5cec1;
  --color2: #071540;
  --basefont: "Open Sans", sans-serif;
  --color-active: #f2f2f2;
}

body {
  margin: 0;
  font-family: var(--basefont);
}

h1 {
  color: var(--color2);
}

ul {
  list-style: none;
}
