.question-card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--background-color--secondary);
  width: 300px;
  margin: 30px;
  padding: 15px;
  gap: 15px;
  border-radius: 20px;
}

.question-card__title {
  font-size: 1.25rem;
  font-weight: bold;
}

.question-card__question {
  padding: 0 10px;
}

.question-card__answer {
  padding: 0 10px;
  display: none;
}

.hidden {
  display: block;
}

.question-card__button {
  border: 3px solid #ffc436;
  height: 40px;
  width: auto;
  padding: 5px;
  align-self: center;
  /* background-color: var(--button-answer); Variable funktioniert nicht - warum?*/
  background: linear-gradient(90deg, #ffc436 0%, #fcecca 102.84%);
  color: var(--background-color--secondary);
  border-radius: 5px;
}

.question-card__button:hover {
  background: linear-gradient(90deg, #fcecca 0%, #ffc436 102.84%);
}

.question-card__bookmark {
  font-size: 30px;
  color: var(--nav-icon--primary);
  position: absolute;
  right: 10px;
  top: -10px;
  background-color: transparent;
  border: none;
}

.question-card__bookmark--marked {
  font-size: 30px;
  color: var(--nav-icon--secondary);
  position: absolute;
  right: 10px;
  top: -10px;
  background-color: transparent;
  border: none;
}
