header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color--secondary);
  height: 80px;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid var(--background-color--primary);
  font-size: 2rem;
  font-weight: bold;
}
